#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.ul {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  background-color: #c0c0c0; 
}
header h1 {
  flex: 1; 
  text-align: center; 
  margin: 0; 
}

nav {
  position: absolute;
  display: flex;
  
  gap: 1rem; 
  
  
}

nav h3 {
  margin: 0;
}


